body {
	background: url(Bilder/background2.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin: 0;
	background-size: cover;
}

h1.n {
	font-family: 'Glegoo', serif;
	text-align: center;
	color: white;
	font-size: 5em;
	position: relative;
	overflow: hidden;
	text-shadow: 2px 2px 5px rgba(10,13,34,0.70);
	
	letter-spacing: normal;
	font-variant: small-caps;
}

h2.n {
	font-family: 'Neuton', serif;
	text-align: center;
	color: black;
	font-size: 2.5em;
	position: relative;
	overflow: hidden;
	font-weight: 100;
	letter-spacing: 0.05em;
}

h3.n {
	font-family: 'Neuton', serif;
	text-align: center;
	color: black;
	font-size: 2em;
	position: relative;
	overflow: hidden;
	text-shadow: 2px 2px 5px rgba(10,13,34,0.70);
	font-weight: 100;
	letter-spacing: normal;
}

p.n {
	text-align: center;
	margin: auto;
	color: black;
	font-size: 1.3em;
	width: 80%;
	position: relative;
	overflow: hidden;
	font-weight: 100;
	letter-spacing: normal;
}

p.n2 {
	text-align: center;
	margin: auto;
	color: black;
	font-size: 1.3em;
	position: relative;
	overflow: hidden;
	font-weight: 100;
	width: 60%;
	letter-spacing: normal;
}
.a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	color: black;
	width: 60%;
	font-size: 1.5em;
	position: relative;
	overflow: hidden;
	font-weight: 100;
	letter-spacing: normal;
	background-color: white;
}
.a:nth-child(even) {
	text-align: center;
	margin: auto;
	display: block;
	color: white;
	font-size: 2em;
	overflow: hidden;
	font-weight: normal;
	letter-spacing: normal;
	background-color: dimgray;
	
}

div.n {
	background-color: #EBEBEB;
	padding: 2% 1%;
	border: hidden;
	margin: 0%;
	overflow: hidden;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.25);
}


form.n {
	float: right
}



ul.meny {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	position: fixed;
    top: 0;
    width: 100%;
	border: #333;
	border-radius: 5px;
	
}

li.meny {
    float: left;
    border-right:1px solid #bbb;
}

li.meny:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 1em
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
.br {
}


.wrapper {
	width: 100%;
	margin: auto;
	display: grid;
	padding: 0px;
	grid-gap: 0px;
	grid-template-columns: 10px 10px 10px ;
    grid-template-rows: auto auto auto ;
	background-color: white;
}

.intro {
	grid-column: 6 / span 2;
	grid-row: 1;
}
